



.category--img{
}

.component--pagetitle{
    font-size: 2.3rem;
}

.category--container{
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    width: 70%;
}

.category--item{
    text-align: center;
    background-color: #e3f1ff;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.category--item:hover{
    background-color: #c7e5ff;
    transform: scale(1.02);

}

.item--title{
    font-size: 1.7rem;
}


@keyframes itemAppear {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Start slightly below normal position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move back to the original position */
    }
}

.category--item {
    opacity: 0;
    animation: itemAppear 0.2s ease forwards; /* Apply animation to each item */
}
